<main [style.display] = 'isInvisible? "none":"" '>
  <div [class.top] = 'true' class = 'text-base'>Вход</div>
  <div [class.Input]="true" [class.topInput] = 'true'>
    <input type="text" [value] = "login" placeholder="login" class = 'text-xl text-white'>
  </div>
  <div [class.Input]="true">
    <input type="text" [value] = "password" placeholder="password" class = 'text-xl text-white'>
  </div>
  <button [attr.display]="true" (click)="checkAcc()">Войти</button>
</main>
<footer [style.display] = 'isInvisible? "none":"" '><p><a (click)="invisChanger()" routerLink = 'registration'>Ещё не зарегистрированы? Создайте аккаунт!</a>
</p>
</footer>
<router-outlet></router-outlet>
